# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/
*.db

# Environment variables
.env

# VS Code settings
.vscode/

# JetBrains IDE settings
.idea/

# macOS files
.DS_Store

# Virtual environment
venv/
env/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Logs
*.log

# Static build files (if any)
staticfiles/
